<h1>Logo</h1>


<form action="/show_results">
    <label for="">Search pictures: </label>
    <input type="text" name="search_picture">

    <button>Search</button>
</form>





<% if logged_in? %>
    <h2>Welcome <%= current_user['name'] %></h2>

    

    <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete">
        
        <button>Logout</button>
    </form>

<% else %>
    <h2>Welcome to Karina's Inspiration Boards!</h2>

    <a href="/sign_up">Sign up</a>
    <a href="/login">Login</a>

    <section>
    <% board_items.each do |board| %>
        <article>
            <img src="<%= board['image_url'] %>" alt="">


            <form action="/board/<%= board['id'] %>" method="POST">
                <input type="hidden" name="_method" value="delete">

            </form>
        </article>
    <% end %>
</section>

<% end %>


