<h1>Logo</h1>


<h2>Welcome to <%=  %>'s Inspiration Boards!</h2>

<a href="/sign_up">Sign up</a>
<a href="/login">Login</a>

<form action="/show_results">
    <label for="">Search pictures: </label>
    <input type="text" name="search_picture">

    <button>Search</button>
</form>


<section>
    <% board_items.each do |board| %>
        <article>
            <img src="<%= board['image_url'] %>" alt="">


            <form action="/board/<%= board['id'] %>" method="POST">
                <input type="hidden" name="_method" value="delete">

            </form>
        </article>
    <% end %>
</section>





